.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
  background-color: black;
}

.grid div{
  width: 20px;
  height: 20px;
}

.sugar-pill{
  background-color: #FAFAD2;
  border: 5px solid black;
  box-sizing: border-box;
}

.wall{
  background-color: #F08080;
}

.gumdrop{
  background-color: #FAFAD2;
  border-radius: 10px;
}

.hero{
  background-color: yellow;
  border-radius: 10px;
}
