<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/game.css"></link>
    <title></title>
  </head>
  <body>
    <div class="fame">
      <h1>Hall of fame</h1>
      <div class="container">
        <%for(var i=0; i < winner.length; i++) {%>
          <li>
            <div class="data">
              <%=winner[i].name;%>
            </div>
          </li>
        <%}%>
      </div>
    </div>
  </body>
</html>
