<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/game.css"></link>
    <title></title>
  </head>
  <body>
    <div class="lose">
      <h1 id="loseH1">You lose</h1>
      <a href="/" id="link">Try again?</a>
      <div class="footer">
        Game By: <a href="https://acoolcat.github.io/Personal-Brand-Website/">Chris Lima</a>
      </div>
    </div>
  </body>
</html>
