<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/game.css"></link>
    <title></title>
  </head>
  <body>
    <div class="fame">
      <h1 id="congrats">CONGRATS! YOU WIN!</h1>
      <h3>Post your name to join the hall of fame</h3>
      <form action="/halloffame" method="POST">
        Name: <input class="field" type="text" name="name"/>
        <input type="submit" class="button" value="Join Now!">
      </form>
    </div>
  </body>
</html>
