<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/game.css"></link>
    <title></title>
  </head>
  <body>
    <h1>CONGRATS! YOU WIN!</h1>
    <h3>Post your name to join the hall of fame</h3>
    <form action="/halloffame" method="POST">
      Name: <input type="text" name="name"/><br/>
      <input type="submit" value="Join Now!">
    </form>
  </body>
</html>
