@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
  background-color: black;
  font-family: 'Concert One', cursive;
}

body{
  margin: 0px;
}

h1{
  margin: 0px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  background-color: black;
}

.grid div{
  width: 20px;
  height: 20px;
}

.sugar-pill{
  background-color: #FAFAD2;
  border: 5px solid black;
  box-sizing: border-box;
}

.wall{
  background-color: #F08080;
}

.gumdrop{
  background-color: #FAFAD2;
  border-radius: 10px;
}

.hero{
  background-color: yellow;
  border-radius: 10px;
}

.bill{
  background-color: red;
  border: 0px;
}

.bob{
  background-color: green;
  border: 0px;
}

.biff{
  background-color: cyan;
  border: 0px;
}

.bloid{
  background-color: orange;
  border: 0px;
}

.hunted-monster{
  background-color: aquamarine;
  border: 0px;
}

.lose {
  color: red;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50vw auto auto;
  grid-template-rows: 50vh auto auto;
  }

  .lose a{
    color: red;
    }

#loseH1{
  grid-row-start: 2;
  grid-column-start: 2;
}

#link{
  grid-row-start: 3;
  grid-column-start: 2;
}

.fame {
  color: blue;
  width: 100vw;
  height: 100vh;
  text-align: center;
  }

.container{
  border: 3px solid blue;
  color: white;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

.game{
  margin-left: 35vw;
  color: white;
}

.button{
  color: white;
  background-color: blue;
}

.field{
  background-color: white;
}

.congrats{
  animation: color-change 1s infinite;
}

@keyframes color-change{
  0% {color: blue;}
  50% {color: white;}
  100% {color: blue;}
}
